* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: #ffcccc;
}

#wrapper {
  width: 70%;
  height: 80%;
  overflow: hidden;
  margin: 50px auto;
  padding: 10px;
}

.w-left {
  width: 50%;
  float: left;
  text-align: right;
}

.w-right {
  width: 50%;
  float: right;
}

.main-content {
  width: 250px;
  margin: 16px auto;
  background-color: #ffe6e6;
  border: 3px solid #f5f5f0;
  border-radius: 5px;
  padding: 24px 50px;
}

.header {
  border: 0px solid #000;
  margin-bottom: 5px;
}

.header img {
  height: 70px;
  width: 275px;
  margin: auto;
  position: relative;
  left: -10px;
}

.input {
  width: 100%;
  margin-bottom: 8px;
  margin-top: 5px;
  padding: 8px 12px;
  border: 1px solid #dbdbdb;
  box-sizing: border-box;
  border-radius: 3px;
}

.overlap-text {
  position: relative;
}

.overlap-text a {
  position: absolute;
  top: 8px;
  right: 10px;
  color: #003569;
  font-size: 14px;
  text-decoration: none;
  font-family: 'Segoe UI', monospace;
  font-weight: 400;
}

.btn {
  width: 100%;
  margin-top: 5px;
  background-color: #ff3333;
  border: 2px solid #ff3333;
  padding: 5px 12px;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  border-radius: 4px;
}

.btn:focus {
  background-color: #C4E0FB;
}

.sub-content {
  width: 250px;
  margin: 10px auto;
  border: 3px solid #f5f5f0;
  padding: 35px 50px;
  background-color: #ffe6e6;
  border-radius: 5px;
}

.s-part {
  text-align: center;
  font-family: 'Segoe UI', monospace;
  font-weight: 550;
  color: #333;
}

.s-part a {
  text-decoration: none;
  cursor: pointer;
  color: #ff4d4d;
  font-family: 'Segoe UI', monospace;
  font-weight: 550;
}